@property --rotating-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@keyframes rotating-gradient {
  from {
    --rotating-angle: 0deg;
  }
  to {
    --rotating-angle: 360deg;
  }
}

.card {
  --border-width: calc(var(--size-fluid-0) / 2);
  --half-line-width: .75%;
  --line-color: transparent;
  position: relative;

  display: flex;
  flex-direction: column;

  inline-size: calc(100% - var(--border-width));
  block-size: calc(100% - var(--border-width));
  padding: var(--size-fluid-2);
  overflow: hidden;
  border-radius: var(--radius-conditional-3);
  isolation: isolate;

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    background: linear-gradient(
      calc(var(--rotating-angle) + 135deg),
      var(--patagonia-color-1) 0%,
      var(--patagonia-color-1) calc(20% - var(--half-line-width)),
      var(--line-color) calc(20% - var(--half-line-width)),
      var(--line-color) calc(20% + var(--half-line-width)),
      var(--patagonia-color-2) calc(20% + var(--half-line-width)),
      var(--patagonia-color-2) calc(40% - var(--half-line-width)),
      var(--line-color) calc(40% - var(--half-line-width)),
      var(--line-color) calc(40% + var(--half-line-width)),
      var(--patagonia-color-3) calc(40% + var(--half-line-width)),
      var(--patagonia-color-3) calc(60% - var(--half-line-width)),
      var(--line-color) calc(60% - var(--half-line-width)),
      var(--line-color) calc(60% + var(--half-line-width)),
      var(--patagonia-color-4) calc(60% + var(--half-line-width)),
      var(--patagonia-color-4) calc(80% - var(--half-line-width)),
      var(--line-color) calc(80% - var(--half-line-width)),
      var(--line-color) calc(80% + var(--half-line-width)),
      var(--patagonia-color-5) calc(80% + var(--half-line-width))
    );
    border-radius: var(--radius-conditional-3);
  }
  &:hover {
    animation: rotating-gradient 40s linear infinite;
  }

  &::after {
    position: absolute;
    inset: var(--border-width);
    content: '';
    background: var(--surface-2);
    border-radius: calc(var(--radius-conditional-3) - var(--border-width));
  }

  /* Place content above the background */
  & > * {
    z-index: 1;
  }
}
