@property --sun-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 20deg;
}

@keyframes rising-sun {
  from {
    --sun-angle: 20deg;
  }

  to {
    --sun-angle: 60deg;
  }
}

.card {
  --sun-angle: 20deg;
  --first-angle: 20deg;
  --second-angle: 35deg;
  --forth-angle: 45deg;
  --border-width: calc(var(--size-fluid-0) / 3);
  --glow-intensity: 0.2;
  --glow-size: 0.7rem;
  --conic-gradient: conic-gradient(
    from 180deg,
    var(--patagonia-color-5),
    var(--sun-angle),
    var(--patagonia-color-4),
    calc(var(--sun-angle) + var(--first-angle)),
    var(--patagonia-color-3),
    calc(var(--sun-angle) + var(--second-angle)),
    var(--patagonia-color-2),
    calc(var(--sun-angle) + var(--forth-angle)),
    var(--patagonia-color-1),
    calc(360deg - var(--sun-angle) - var(--forth-angle)),
    var(--patagonia-color-2),
    calc(360deg - var(--sun-angle) - var(--second-angle)),
    var(--patagonia-color-3),
    calc(360deg - var(--sun-angle) - var(--first-angle)),
    var(--patagonia-color-4),
    calc(360deg - var(--sun-angle)),
    var(--patagonia-color-5)
  );

  position: relative;

  padding: var(--size-fluid-2);
  text-overflow: clip;
  background:
    linear-gradient(var(--surface-2), var(--surface-2)) padding-box,
    var(--conic-gradient) border-box;
  border: var(--border-width) solid transparent;
  border-radius: var(--border-size-4);
  isolation: isolate;

  /* Prevents the card from being rendered when off-screen */
  content-visibility: auto;

  @media (prefers-reduced-motion: no-preference) {
    transition: opacity 0.4s ease-in-out;
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    border-radius: inherit;
    filter: blur(var(--glow-size));
    transition: inherit;
  }

  &::before {
    inset: calc(1 * var(--glow-size));
    z-index: -1;
    background: var(--surface-2);
  }

  &::after {
    inset: calc(-1 * 2 * var(--glow-size));
    z-index: -2;
    opacity: 0;
  }

  @media (hover: hover) {
    &:hover,
    &:focus-within {
      @media (prefers-reduced-motion: no-preference) {
        animation: rising-sun 3s ease-in-out forwards;
      }

      &::after {
        background: var(--conic-gradient);
        opacity: var(--glow-intensity);
      }
    }
  }
}
