.card {
  --border-width: calc(var(--size-fluid-0) / 2);
  --half-line-width: .75%;
  --line-color: transparent;

  inline-size: calc(100% - var(--border-width));
  block-size: calc(100% - var(--border-width));

  aspect-ratio: 1;

  display: flex;
  flex-direction: column;
  padding: var(--size-fluid-2);
  border-radius: var(--radius-conditional-3);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: var(--radius-conditional-3);
    background: linear-gradient(
      135deg,
      var(--patagonia-color-1) 0%,
      var(--patagonia-color-1) calc(20% - var(--half-line-width)),
      var(--line-color) calc(20% - var(--half-line-width)),
      var(--line-color) calc(20% + var(--half-line-width)),
      var(--patagonia-color-2) calc(20% + var(--half-line-width)),
      var(--patagonia-color-2) calc(40% - var(--half-line-width)),
      var(--line-color) calc(40% - var(--half-line-width)),
      var(--line-color) calc(40% + var(--half-line-width)),
      var(--patagonia-color-3) calc(40% + var(--half-line-width)),
      var(--patagonia-color-3) calc(60% - var(--half-line-width)),
      var(--line-color) calc(60% - var(--half-line-width)),
      var(--line-color) calc(60% + var(--half-line-width)),
      var(--patagonia-color-4) calc(60% + var(--half-line-width)),
      var(--patagonia-color-4) calc(80% - var(--half-line-width)),
      var(--line-color) calc(80% - var(--half-line-width)),
      var(--line-color) calc(80% + var(--half-line-width)),
      var(--patagonia-color-5) calc(80% + var(--half-line-width))
    );
  }

  &::after {
    content: '';
    position: absolute;
    inset: var(--border-width);
    background: var(--surface-2);
    border-radius: calc(var(--radius-conditional-3) - var(--border-width));
  }

  /* Place content above the background */
  & > * {
    z-index: 1;
  }
}
