@property --rotating-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@keyframes rotating-gradient {
  from {
    --rotating-angle: 0deg;
  }

  to {
    --rotating-angle: 360deg;
  }
}

.card {
  --border-width: calc(var(--size-fluid-0) / 3);
  --glow-intensity: 0.1;
  --glow-size: 0.5rem;
  --conic-gradient: conic-gradient(
    from var(--rotating-angle),
    var(--patagonia-color-5),
    var(--patagonia-color-1),
    var(--patagonia-color-2),
    var(--patagonia-color-3),
    var(--patagonia-color-4),
    var(--patagonia-color-5)
  );

  position: relative;

  padding: var(--size-fluid-2);
  text-overflow: clip;
  background:
    linear-gradient(var(--surface-2), var(--surface-2)) padding-box,
    var(--conic-gradient) border-box;
  border: var(--border-width) solid transparent;
  border-radius: var(--border-size-4);
  isolation: isolate;

  @media (prefers-reduced-motion: no-preference) {
    transition: opacity 0.4s ease-in-out;
  }

  &::after,
  &::before {
    position: absolute;
    content: '';
    border-radius: inherit;
    filter: blur(var(--glow-size));
    transition: inherit;
  }

  &::before {
    inset: calc(1 * var(--glow-size));
    z-index: -1;
    background: var(--surface-2);
  }

  &::after {
    inset: calc(-1 * 2 * var(--glow-size));
    z-index: -2;
    opacity: 0;
  }

  &:hover,
  &:focus-within {
    @media (prefers-reduced-motion: no-preference) {
      animation: rotating-gradient 10s linear infinite;
    }

    &::after {
      background: var(--conic-gradient);
      opacity: var(--glow-intensity);
    }
  }
}
