.barcode {
  --inline-padding: 4%;
  --bg-color: var(--gray-0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  inline-size: 100%;
  max-inline-size: var(--size-content-2);
  aspect-ratio: 2 / 1;
  padding-block: 2%;
  padding-inline: var(--inline-padding);
  margin-inline: auto;
  background-color: var(--bg-color);
}

.bar {
  display: block;
  min-inline-size: 0.5%;
  max-inline-size: calc((100% - 2 * var(--inline-padding, 4%)) / 53);
  block-size: 100%;
}
