.form {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  gap: var(--size-fluid-1);
  inline-size: clamp(15ch, 75ch, 100%);
  padding-block-start: var(--size-fluid-2);
  padding-block-end: var(--size-fluid-4);
  padding-inline: clamp(var(--size-2), 5vw, var(--size-10));
  margin-inline: auto;
  overflow: scroll;
  background-color: var(--surface-2);
  border-radius: var(--radius-conditional-3);
}

.field {
  display: flex;
  flex-direction: column;

  @media (width > 40rem) {
    display: flex;
    flex-direction: row;
    gap: var(--size-3);
    align-items: last baseline;
    justify-content: space-between;
  }
}

.input {
  margin-block-start: 0.25rem;
  background-color: var(--surface-3);

  @media (width > 40rem) {
    min-inline-size: var(--size-relative-15);
    margin-block-start: 0;
  }

  &:is([type='number']) {
    text-align: end;
  }
}

.tries {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--size-3);
  justify-content: space-between;

  & > input {
    min-inline-size: var(--size-fluid-5);
    background-color: var(--surface-3);
  }

  @media (width > 40rem) {
    min-inline-size: var(--size-relative-15);
    padding: var(--size-1);
  }

  @supports (field-sizing: content) {
    field-sizing: content;
  }
}

.textarea {
  min-inline-size: 70%;

  @supports (field-sizing: content) {
    field-sizing: content;
  }
}

.title {
  font-size: var(--font-size-fluid-3);
  line-height: 1.5;
  text-align: center;
}

.grades {
  --gap: var(--size-fluid-1);

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  & > span {
    inline-size: 100%;
  }

  @media (width > 40rem) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15ch, calc(50% - (var(--gap) / 2))));
    align-items: center;

    & > span {
      justify-self: end;
      inline-size: var(--size-relative-15);
    }
  }
}

.submit {
  font-weight: var(--font-weight-6);
  line-height: 2;
  background-color: var(--accent);

  @media (prefers-reduced-motion: no-preference) {
    transition: background var(--blink);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--surface-4);
  }
}
