.switch {
  --toggle-transition-duration: 0.3s;

  font-size: var(--font-size-1);
  position: relative;
  display: inline-block;
  inline-size: 4rem;
  block-size: 2.2rem;
  line-height: 2;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-1);

  @media (width <= 40rem) {
    display: none;
  }

  & input {
    opacity: 0;
    inline-size: 0;
    block-size: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--surface-3);
  transition: var(--toggle-transition-duration);
  border-radius: var(--radius-4);
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    block-size: 1.2rem;
    inline-size: 1.2rem;
    border-radius: var(--radius-4);
    left: 0.5rem;
    bottom: 0.5rem;
    transition: var(--toggle-transition-duration);
    transition-timing-function: var(--ease-elastic-in-out-1);
    box-shadow: inset 8px -4px 0 0 var(--gray-0);
  }
}

.star {
  background-color: var(--gray-0);
  border-radius: 50%;
  position: absolute;
  inline-size: var(--border-size-3);
  transition: all var(--toggle-transition-duration);
  block-size: var(--border-size-3);

  &:nth-child(1) {
    left: 2.5rem;
    top: 0.5rem;
  }

  &:nth-child(2) {
    left: 2.2rem;
    top: 1.2rem;
  }

  &:nth-child(3) {
    left: 3rem;
    top: 0.9rem;
  }
}

.cloud {
  inline-size: 3.5rem;
  position: absolute;
  bottom: -1.4rem;
  left: -1rem;
  opacity: 0;
  transition: all var(--toggle-transition-duration);
}

.switch:has(input:checked) {
  .slider {
    background-color: var(--link);

    &::before {
      transform: translateX(1.8em);
      box-shadow: inset 15px -4px 0 15px var(--yellow-4);
    }
  }

  .star {
    opacity: 0;
  }

  .cloud {
    opacity: 1;
  }
}
