.trigger {
  display: inline-block;
  inline-size: fit-content;
  max-inline-size: min(var(--size-14), 100vw);
  font-family: var(--font-didone);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-9);
  background: var(--gradient-13);
  color: transparent;
  background-clip: text;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
