.container {
  font-family: var(--font-didone);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-9);

  background: var(--gradient-13);
  color: transparent;
  background-clip: text;

  text-decoration: none;

  text-wrap: nowrap;
}
