:root {
  --angle: 0turn;
}

@keyframes rainbow {
  100% {
    --angle: 1turn;
  }
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0turn;
}

.button {
  --gray: hsl(252deg 4% 28%);
  --black: hsl(76deg 12% 19%);
  --padding: var(--size-2);
  --radius: var(--border-size-5);
  --blur: 1px;
  --white: hsl(0deg 0% 100%);
  --blackBorder: hsl(0deg 0% 0% / 20%);

  all: unset;

  display: inline-grid;
  grid-template-areas: 'button';
  align-self: center;
  inline-size: clamp(20ch, 20ch + 10vw, 30ch);
  padding: var(--padding);
  font-family: var(--font-mono);
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;

  /* GLASS */
  background: hsl(0deg 0% 100% / 50%);
  border: 0;
  border-radius: var(--radius);
  box-shadow:
    0 -1px var(--blur) 0 var(--white),
    0 1px var(--blur) 0 var(--white),
    1px 1px var(--blur) 0 var(--blackBorder),
    -1px 0 var(--blur) 0 var(--blackBorder),
    0 0 10px hsl(0deg 0% 0% / 10%);
  scale: 0.8;

  .text {
    --inner-padding: 0.75rem;

    /* BLACK CIRCLE */
    z-index: 2;
    grid-area: button;
    padding: var(--inner-padding) var(--size-7);
    margin: var(--inner-padding);
    color: hsl(0deg 0% 91%);
    text-align: center;

    background: linear-gradient(to bottom, var(--black), var(--gray));
    border-radius: 100vmax;
  }

  &::after {
    /* GRADIENT */
    --walk: calc(var(--padding) * -1);
    --blur: 20px;
    z-index: 0;
    grid-area: button;
    width: calc(100% + var(--padding) * 2);
    height: calc(100% + var(--padding) * 2);

    content: '';
    background: conic-gradient(
      from var(--angle),
      hsl(0deg 100% 50%),
      hsl(60deg 100% 50%),
      hsl(120deg 100% 50%),
      hsl(180deg 100% 50%),
      hsl(240deg 100% 50%),
      hsl(300deg 100% 50%),
      hsl(0deg 100% 50%)
    );

    border-radius: var(--radius);
    opacity: 0.5;
    filter: blur(var(--blur));
    transform: translate(var(--walk), var(--walk));

    /* Conic rainbow gradient */
    animation: rainbow 3s linear infinite;

    &:disabled {
      animation-play-state: paused;
    }
  }

  &::before {
    /* BLACK BUTTON */
    z-index: 1;
    grid-area: button;
    padding: 20px;

    /* BLACK BUTTON */
    content: '';

    /* Gradient from gray to black */
    background: linear-gradient(to bottom, var(--gray), var(--black));
    border-radius: calc(var(--radius) - var(--padding));
    box-shadow:
      0 0 10px 0 hsl(0deg 0% 0% / 20%),
      0 8px 10px 0 hsl(0deg 0% 0% / 20%);
  }

  &:active {
    &::before,
    &::after,
    .text {
      scale: 0.9;
    }

    &::after {
      --blur: 6.9px;
      --padding: 10px;
      animation-play-state: paused;
    }
  }
}
