.table {
  display: grid;
  grid-template-columns: repeat(10, auto);
  column-gap: var(--size-fluid-1);
  inline-size: min(100%, 115ch);
  max-block-size: 80dvh;
  margin-inline: auto;

  overflow-x: auto;
  color: var(--text-1);

  background-color: var(--surface-1);
}

.header {
  display: grid;
  grid-template-columns: subgrid;
  border-block-end: 1px solid var(--color-gray-400);
}

.headerRow {
  display: grid;
  grid-template-columns: subgrid;
  padding: var(--size-fluid-1);
}

.headerCell {
  font-weight: var(--font-weight-7);
  background-color: var(--surface-1);
}

.body {
  display: grid;
  grid-template-columns: subgrid;

  overflow-x: auto;
}

.row {
  display: grid;
  grid-template-columns: subgrid;
  padding-inline: var(--size-fluid-1);

  &:nth-of-type(even) {
    background-color: var(--surface-2);
  }

  &:nth-of-type(even):hover {
    background-color: light-dark(var(--gray-0), var(--gray-10));
  }
}

.cell {
  inline-size: min-content;
  max-inline-size: 22ch;
  padding-block: var(--size-fluid-0);

  padding-inline: 0;

  /* no-text-wrap */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  display: grid;
  grid-template-columns: subgrid;

  border-block-start: 1px solid var(--surface-4);
}

.footerRow {
  display: grid;
  grid-template-columns: subgrid;
  padding: var(--size-fluid-1);
}

.footerCell {
  color: var(--text-1);
  text-align: start;
  background-color: var(--surface-1);
  border: none;
}
