.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-3);
  isolation: isolate;
}

.h1 {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  padding-inline: var(--font-size-fluid-0);
}

.patagonia {
  position: relative;
  inline-size: 100%;
  color: var(--gray-1);
  background: var(--patagonia-gradient);

  &::before {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 50%;
    content: '';
    background: hsl(0deg 0% 93%);
    clip-path: polygon(var(--mountains));
  }

  &::after {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 50%;
    content: '';
    background: linear-gradient(
      to bottom,
      hsl(0deg 0% 0%) 0%,
      hsl(0deg 0% 10%) 60%,
      hsl(0deg 0% 15%) 80%,
      hsl(0deg 0% 25%) 95%
    );
    clip-path: polygon(var(--mountains));
    transform: translateY(var(--mountains-outline, 2%));
  }
}
