.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;

  @media (hover: hover) {
    &:hover {
      text-underline-offset: 0.3em;
    }
  }
}

.popup {
  position: fixed;
  position-area: block-end span-inline-end;
  position-try-fallbacks: flip-block;
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-1);
  inset: auto;
  margin: var(--size-2) 0 0;
  padding-block: var(--size-3);
  padding-inline: var(--size-5);

  pointer-events: none;
  opacity: 0;
  transform: scale(0.9);
  border-radius: var(--size-2);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      opacity 150ms,
      transform 150ms,
      display 150ms allow-discrete,
      overlay 150ms allow-discrete;

    @starting-style {
      opacity: 0;
      transform: scale(0.9);
    }
  }
}

.popup:popover-open {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.hint:popover-open {
  pointer-events: none;
}

.iconButton[interestfor] {
  transition: transform 150ms;
}

.iconButton[interestfor]:is(:hover, :focus-visible) {
  z-index: 1;
  outline: 2px solid currentcolor;
  outline-offset: 1px;
  transform: scale(1.1);
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.description {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: light-dark(var(--gray-6), var(--gray-4));
}
