.container {
  padding: var(--size-fluid-4);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  padding: 0;
}

.hr {
  margin-block: var(--size-fluid-1);
  background-color: var(--text-2);
  max-inline-size: 75%;
}
