.timeline {
  --size-0: 0.5rem;
  --size-1: 1rem;
  --size-2: 2rem;
  --gap: 2rem;
  --line-width: 2px;
  --background: var(--surface-1, light-dark(white, black));
  --text: var(--text-1, light-dark(black, white));
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: clip;

  &[data-direction='horizontal'] {
    flex-direction: row;
    overflow-x: clip;
    overflow-y: visible;
  }
}

.event {
  position: relative;
  min-inline-size: 250px;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    inline-size: var(--line-width);

    /* Probably a bit too "magic number" here also */
    block-size: 150%;

    background: var(--text);
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset-block-start: calc(var(--size-1) / 2);
    inset-inline-start: calc(var(--size-1) / -2 + var(--line-width) / 2);

    inline-size: var(--size-1);
    block-size: var(--size-1);

    outline: var(--size-1) solid var(--background);
    background: var(--text);
    transform: rotate(45deg);
  }
}

.timeline[data-direction='horizontal'] .event {
  &::before {
    inset: 0;
    inline-size: 150%;
    block-size: var(--line-width);
  }

  &::after {
    inset: 0;
    inset-block-start: calc(var(--size-1) / -2 + var(--line-width) / 2);
    inset-inline-start: 50%;
  }
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-1);

  padding-inline-start: var(--size-2);
}

.timeline[data-direction='horizontal'] .body {
  padding-inline-start: 0;
  padding-block-start: var(--size-2);
}

.date {
  max-inline-size: fit-content;
  padding-block: calc(var(--size-1) / 4);
  padding-inline: var(--size-1);
  margin: auto;

  color: var(--background);
  background: var(--text);
}
