.timeline {
  --size-1: 1rem;
  --gap: 3rem;
  --line-inline-size: 2px;
  --background-color: var(--surface-1, light-dark(white, black));
  --text-color: var(--text-1, light-dark(black, white));
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 0;
  margin: 0;
  list-style: none;

  &::before {
    position: absolute;
    inset: 0;

    inline-size: var(--line-inline-size);
    block-size: 100%;
    content: '';

    background-color: var(--text-color, black);
  }

  &[data-direction='horizontal'] {
    flex-direction: row;

    &::before {
      inset: 0;
      inset-block-start: calc(var(--size-1) - var(--line-inline-size) / 2);
      inline-size: auto;
      block-size: var(--line-inline-size);
    }
  }
}

.event {
  position: relative;
  min-width: 250px;
  padding: 0;
}

.timeline[data-direction='horizontal'] .event {
  inset: 0;
  inset-block-start: calc(var(--gap) * 2);
}

.icon {
  position: absolute;
  inset-block-start: calc(var(--size-1) / 2);
  inset-inline-start: calc(var(--size-1) / -2);
  display: block;
  inline-size: var(--size-1);
  block-size: var(--size-1);

  outline: var(--size-1) solid var(--background-color, white);
  background-color: var(--text-color, black);
  transform: rotate(45deg);
}

.timeline[data-direction='horizontal'] .icon {
  inset: 0;

  /*! FIXME Magic number */
  inset-block-start: calc(var(--gap) * -1.825);
  inset-inline-start: calc(var(--size-1) * 6);
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--size-1);

  inset-inline-start: calc(var(--size-1) * 4);
}

.date {
  max-inline-size: fit-content;
  padding: 0.25rem 1rem;

  color: var(--background-color, white);
  background-color: var(--text-color, black);
}
