.loader {
  inline-size: 100%;
  block-size: 100%;
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-8);
  color: var(--text-1);
  background-color: color-mix(in oklch, var(--surface-1) 30%, transparent);
}
