.navContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-2);
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;

  @media (width > 640px) {
    flex-direction: row;

    & > :last-child,
    & > :first-child {
      rotate: 0deg;
    }
  }

  & > :last-child,
  & > :first-child {
    rotate: -90deg;
  }
}

.calendarContainer {
  max-inline-size: 100%;
  padding-block: var(--size-2);
  overflow-x: scroll;

  @media (width > 640px) {
    overflow-x: auto;
  }
}
