/**
 * gridSize = 25
 * imageSize = 9
 * imageStart = ((gridSize - imageSize) / 2) + 1 // 9
 * imageEnd = imageStart + imageSize // 18
 */

.qrcode {
  --bg-color: var(--gray-0);

  aspect-ratio: 1;

  display: grid;
  grid-template: repeat(25, 1fr) / repeat(25, 1fr);
  gap: 2px;

  background-color: var(--bg-color);

  margin-inline: auto;
}

.image {
  grid-area: 9 / 9 / 18 / 18;
  block-size: 100%;
  inline-size: 100%;
  padding: var(--size-3);
}
