/**
 * gridSize = 25
 * imageSize = 9
 * imageStart = ((gridSize - imageSize) / 2) + 1 // 9
 * imageEnd = imageStart + imageSize // 18
 */

.qrcode {
  --bg-color: var(--gray-0);
  display: grid;
  grid-template: repeat(25, 1fr) / repeat(25, 1fr);
  gap: 2px;

  inline-size: 100%;
  max-inline-size: var(--size-content-2);
  aspect-ratio: 1;
  background-color: var(--bg-color);

  /* Prevents the calendar from being rendered when off-screen */
  content-visibility: auto;
}

.image {
  grid-area: 9 / 9 / 18 / 18;
  max-inline-size: 100%;
  max-block-size: 100%;
  aspect-ratio: 1;
  padding: var(--size-3);
}
