.container {
  --min-width: 375px;

  display: grid;
  grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, var(--min-width)), 1fr)
    );
  gap: var(--size-fluid-2);
  inline-size: min(100%, var(--size-xl));
}

.item {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  aspect-ratio: 1;
  margin-inline: auto;

  & > div {
    flex: 1;
  }
}
