/*
* NB: CSS classes cannot start with a numbers. Therefore, they prepended with an
* underscore. Furthermore, pluses ("+") are replaced with underscores.
*/

/* stylelint-disable custom-property-empty-line-before */
:where(:root) {
  /* GRADES */
  --6a: var(--yellow-2);
  --6a_: var(--yellow-4);
  --6b: var(--yellow-6);
  --6b_: var(--yellow-8);
  --6c: var(--yellow-10);
  --6c_: var(--yellow-12);

  --7a: var(--green-2);
  --7a_: var(--green-4);
  --7b: var(--green-6);
  --7b_: var(--green-8);
  --7c: var(--green-10);
  --7c_: var(--green-12);

  --8a: var(--blue-2);
  --8a_: var(--blue-4);
  --8b: var(--blue-6);
  --8b_: var(--blue-8);
  --8c: var(--blue-10);
  --8c_: var(--blue-12);

  /* TRAINING */
  --enduranceLow: var(--orange-1);
  --endurance: var(--orange-5);
  --enduranceHigh: var(--orange-9);

  --indoorLow: var(--blue-1);
  --indoor: var(--blue-5);
  --indoorHigh: var(--blue-9);

  /* Scale down saturation (chroma) for indoor route/boulder oklch() colors */
  --indoorSaturation: 0.1;
  --indoorLightness: 0.1;
  --indoorRoute: oklch(
    from var(--route) calc(l + var(--indoorLightness))
      calc(c * var(--indoorSaturation)) h
  );
  --indoorBoulder: oklch(
    from var(--boulder) calc(l + var(--indoorLightness))
      calc(c * var(--indoorSaturation)) h
  );

  --otherTrainingLow: var(--gray-1);
  --otherTraining: var(--gray-5);
  --otherTrainingHigh: var(--gray-7);

  --outdoorLow: var(--green-1);
  --outdoor: var(--green-5);
  --outdoorHigh: var(--green-9);

  --staminaLow: var(--indigo-1);
  --stamina: var(--indigo-5);
  --staminaHigh: var(--indigo-9);

  --strengthLow: var(--pink-1);
  --strength: var(--pink-5);
  --strengthHigh: var(--pink-9);

  --taperedLow: var(--violet-1);
  --tapered: var(--violet-5);
  --taperedHigh: var(--violet-9);

  /* ENERGY SYSTEMS */
  --energySystemAA: var(--red-5);
  --energySystemAL: var(--purple-5);
  --energySystemAE: var(--teal-5);

  /* ANATOMICAL REGIONS */
  --anatomicalRegionAr: var(--blue-5);
  --anatomicalRegionFi: var(--pink-5);
  --anatomicalRegionGe: var(--teal-5);

  /* DISCIPLINE */
  --boulder: var(--pink-4);
  --route: var(--cyan-4);
  --multiPitch: var(--choco-4);

  /* STYLE */
  --onsight: var(--teal-5);
  --flash: var(--yellow-5);
  --redpoint: var(--red-5);

  /* TRIES */
  --maxTries: var(--pink-7);
  --averageTries: var(--pink-4);
  --minTries: var(--pink-1);
}

/* GRADES */
._6a {
  background-color: var(--6a);
}

._6a_ {
  background-color: var(--6a_);
}

._6b {
  background-color: var(--6b);
}

._6b_ {
  background-color: var(--6b_);
}

._6c {
  background-color: var(--6c);
}

._6c_ {
  background-color: var(--6c_);
}

._7a {
  background-color: var(--7a);
}

._7a_ {
  background-color: var(--7a_);
}

._7b {
  background-color: var(--7b);
}

._7b_ {
  background-color: var(--7b_);
}

._7c {
  background-color: var(--7c);
}

._7c_ {
  background-color: var(--7c_);
}

._8a {
  background-color: var(--8a);
}

._8a_ {
  background-color: var(--8a_);
}

._8b {
  background-color: var(--8b);
}

._8b_ {
  background-color: var(--8b_);
}

._8c {
  background-color: var(--8c);
}

._8c_ {
  background-color: var(--8c_);
}

/* TRAINING */

.endurance {
  --color: var(--endurance);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

.otherTraining {
  --color: var(--otherTraining);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

.outdoor {
  --color: var(--outdoor);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

.stamina {
  --color: var(--stamina);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

.strength {
  --color: var(--strength);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

.tapered {
  --color: var(--tapered);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

/* DISCIPLINE */
.boulder {
  --color: var(--boulder);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

.route {
  --color: var(--route);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

.multiPitch {
  --color: var(--multiPitch);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

/* STYLE */
.onsight {
  --color: var(--onsight);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

.flash {
  --color: var(--flash);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}

.redpoint {
  --color: var(--redpoint);
  color: oklch(from var(--color) var(--l) 0 h);

  background-color: var(--color);
}
