:where(html) {
  --font-system-ui: system-ui, sans-serif;
  --font-humanist:
    seravek, gill sans nova, ubuntu, calibri, dejavu sans, source-sans-pro, sans-serif;
  --font-monospace-code:
    dank mono, operator mono, inconsolata, fira mono, ui-monospace, sf mono, monaco,
    droid sans mono, source code pro, cascadia code, menlo, consolas, dejavu sans mono, monospace;
  --font-didone: didot, bodoni mt, noto serif display, urw palladio l, p052, sylfaen, serif;
  --font-handwritten: segoe print, bradley hand, chilanka, tscu_comic, casual, cursive;
  --font-mono: var(--font-monospace-code);
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;
  --font-lineheight-1: 1.25;
  --font-size-00: 0.5rem;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-3: 1.25rem;
  --font-size-fluid-0: clamp(0.75rem, 2vw, 1rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
}
