/* Components */

nav a {
  --link-color: white;
  --linear-gradient: linear-gradient(
    to right,
    var(--violet-0),
    var(--violet-2),
    var(--violet-4),
    var(--violet-6),
    var(--violet-8),
    var(--violet-10)
  );
  color: var(--link-color);
  text-decoration: none;
  font-weight: 300;

  &:hover {
    background: var(--linear-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &::after {
    content: '';
    display: block;
    inline-size: 0;
    block-size: 2px;
    background: var(--linear-gradient);
    transition: inline-size 0.3s;
  }

  &:hover::after {
    inline-size: 100%;
  }
}

/* Utilities */
.super-center {
  display: grid;
  place-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: 1rem;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.margin-auto {
  margin: auto;
}

.section-header {
  max-inline-size: 100%;
  padding-block-end: 1rem;
  text-align: center;
}

.center-text {
  text-align: center;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  padding: 1rem;
}

.w100 {
  inline-size: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}

text {
  white-space: pre;
}

/* Invalid inputs */
:where(form) :user-invalid {
  outline-offset: var(--size-px-1);
  outline-color: var(--red-8);
  outline-style: solid;
  outline-width: var(--border-size-2);
}

/* Valid inputs */
:where(form) :user-valid {
  outline-offset: var(--size-px-1);
  outline-color: var(--green-8);
  outline-style: solid;
  outline-width: var(--border-size-1);
}

/* Utility classes */

/** Intrinsic Container */
.intrinsic-container {
  --container-max: 60ch;
  --margin: 3rem;

  inline-size: min(100% - var(--margin, 3rem), var(--container-max, 60ch));
  margin-inline: auto;
}

/*  It hides the <span> visually without stopping it from being read out in screen readers. */
.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
