/*
* NB: The classes are named cannot start with a numbers. Therefore, the
* classes are named prepended with an underscore and pluses are replaced with underscores.
*/

/* stylelint-disable custom-property-empty-line-before */
:where(:root) {
  --6a: var(--yellow-2);
  --6a_: var(--yellow-4);
  --6b: var(--yellow-6);
  --6b_: var(--yellow-8);
  --6c: var(--yellow-10);
  --6c_: var(--yellow-12);

  --7a: var(--green-2);
  --7a_: var(--green-4);
  --7b: var(--green-6);
  --7b_: var(--green-8);
  --7c: var(--green-10);
  --7c_: var(--green-12);

  --8a: var(--blue-2);
  --8a_: var(--blue-4);
  --8b: var(--blue-6);
  --8b_: var(--blue-8);
  --8c: var(--blue-10);
  --8c_: var(--blue-12);
}

._6a {
  background-color: var(--_6a);
}

._6a_ {
  background-color: var(--yellow-4);
}

._6b {
  background-color: var(--yellow-6);
}

._6b_ {
  background-color: var(--yellow-8);
}

._6c {
  background-color: var(--yellow-10);
}

._6c_ {
  background-color: var(--yellow-12);
}

._7a {
  background-color: var(--green-2);
}

._7a_ {
  background-color: var(--green-4);
}

._7b {
  background-color: var(--green-6);
}

._7b_ {
  background-color: var(--green-8);
}

._7c {
  background-color: var(--green-10);
}

._7c_ {
  background-color: var(--green-12);
}

._8a {
  background-color: var(--blue-2);
}

._8a_ {
  background-color: var(--blue-4);
}

._8b {
  background-color: var(--blue-6);
}

._8b_ {
  background-color: var(--blue-8);
}

._8c {
  background-color: var(--blue-10);
}

._8c_ {
  background-color: var(--blue-12);
}
