/* Utilities */
.super-center {
  display: grid;
  place-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: var(--size-fluid-1);
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.margin-auto {
  margin: auto;
}

.padding {
  padding: var(--size-fluid-1);
}

.section-header {
  max-inline-size: 100%;
  padding-block-end: var(--size-fluid-1);
  text-align: center;
  text-wrap: balance;
}

.center-text {
  text-align: center;
}

.text-no-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.grid {
  --min: 300px;

  display: grid;
  gap: var(--size-fluid-1);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.grid-full-width {
  grid-column: 1 / -1;
}

.w100,
.w-100 {
  inline-size: 100%;
}

.h100,
.h-100 {
  block-size: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.monospace {
  font-family: var(--font-monospace-code);
}

.select-none {
  user-select: none;
}

/*  It hides the <span> visually without stopping it from being read out in screen readers. */
.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.contrast-color {
  /* Fallback for browsers that don't support RCS */
  color: white;
  text-shadow: 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em
    black;

  @supports (color: oklch(from lightblue l c h)) {
    --l: clamp(0, (var(--l-threshold, 0.623) / l - 1) * infinity, 1);

    color: oklch(from var(--color) var(--l) 0 h);
    text-shadow: none;
  }

  /* biome-ignore lint/correctness/noUnknownFunction: This is the futur... */
  @supports (color: contrast-color(lightblue)) {
    /* biome-ignore lint/correctness/noUnknownFunction: This is the futur... */
    color: contrast-color(var(--color));
    text-shadow: none;
  }
}
