/* Utilities */
.superCenter {
  display: grid;
  place-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: var(--size-fluid-1);
}

.spaceEvenly {
  justify-content: space-evenly;
}

.spaceBetween {
  justify-content: space-between;
}

.selfCenter {
  align-self: center;
}

.marginAuto {
  margin: auto;
}

.padding {
  padding: var(--size-fluid-1);
}

.sectionHeader {
  max-inline-size: 100%;
  padding-block-end: var(--size-fluid-1);
  text-align: center;
  text-wrap: balance;
}

.centerText {
  text-align: center;
}

.textNoWrap,
.truncate, .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflowXClip {
  overflow-x: clip;
}

@supports not (overflow-x: clip) {
  .overflowXClip {
    overflow-x: hidden;
  }
}

.grid {
  --min: 300px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  gap: var(--size-fluid-1);
}

.gridFullWidth {
  grid-column: 1 / -1;
}

.w100 {
  inline-size: 100%;
}

.h100 {
  block-size: 100%;
}

.cursorPointer {
  cursor: pointer;
}

.monospace {
  font-family: var(--font-monospace-code);
}

.selectNone {
  user-select: none;
}

.notAllowed {
  cursor: not-allowed;
  opacity: 0.5;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

/*  It hides the <span> visually without stopping it from being read out in screen readers. */
.visuallyHidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}

.contrastColor {
  /* Fallback for browsers that don't support RCS */
  color: white;
  text-shadow:
    0 0 0.05em black,
    0 0 0.05em black,
    0 0 0.05em black,
    0 0 0.05em black;

  @supports (color: oklch(from lightblue l c h)) {
    --l: clamp(0, (var(--l-threshold, 0.623) / l - 1) * infinity, 1);

    color: oklch(from var(--color) var(--l) 0 h);
    text-shadow: none;
  }

  /* biome-ignore lint/correctness/noUnknownFunction: This is the futur... */
  @supports (color: contrast-color(lightblue)) {
    /* biome-ignore lint/correctness/noUnknownFunction: This is the futur... */
    color: contrast-color(var(--color));
    text-shadow: none;
  }
}
