.yearGrid {
  --gap: 2px;
  --cell-color: var(--surface-4);
  --text-color: var(--text-1);
  --border-color: currentcolor;
  --border-width: 1px;
  --border-radius: 2px;
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap, 1px);
  place-items: center;

  inline-size: min-content;
}

.yearGridCell {
  display: grid;
  place-items: center;
  block-size: var(--size-3);
  aspect-ratio: 1 / 1;
  font-size: var(--font-size-00);
  font-weight: var(--font-weight-7);
  background-color: var(--cell-color);

  && {
    border-radius: var(--radius-1, 2px);
  }
}

.yearGridCell:not(.loading) {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

@starting-style {
  .yearGridCell:not(.loading) {
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

.loading {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  animation-delay: var(--pulse-delay, 0s);
}

.emptyGridCell {
  border: none;
}

.specialCase {
  && {
    outline: 2px dashed var(--text-1);
  }
}

.gridHeader {
  grid-row: 1 / 2;
  min-block-size: 3ch;
  font-weight: var(--font-weight-7);
  font-variant-numeric: tabular-nums;
  color: var(--text-1);
  background-color: transparent;
  border: none;
}

.firstCell {
  grid-area: 1 / 1;
  background-color: transparent;
  border: none;
}

.firstColumn {
  position: sticky;
  inset-inline-start: 0;
  grid-column: 1 / 2;
  min-inline-size: 4ch;
  line-height: 1;
  background-color: var(--surface-4);
}
