.yearGrid {
  --gap: 2px;
  --cell-color: light-dark(hsl(0deg 0% 90% / 70%), hsl(0deg 0% 70% / 70%));
  --text-color: var(--text-1);
  --border-color: currentcolor;
  --border-width: 1px;
  --border-radius: 2px;

  inline-size: min-content;
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap, 1px);
  place-items: center;
}

.yearGridCell {
  block-size: var(--size-3);
  aspect-ratio: 1 / 1;
  font-size: var(--font-size-00);
  display: grid;
  place-items: center;
  background-color: var(--cell-color);

  && {
    border-radius: var(--radius-1, 2px);
  }
  font-weight: var(--font-weight-7);
}

.emptyGridCell {
  background-color: transparent;
  border: none;
}

.specialCase {
  && {
    outline: 2px dashed var(--text-1);
  }
}

.gridHeader {
  background-color: transparent;
  color: var(--text-1);
  border: none;
  font-variant-numeric: tabular-nums;
  min-block-size: 3ch;
  grid-row: 1 / 2;
  font-weight: var(--font-weight-7);
}

.firstCell {
  grid-area: 1 / 1;
  background-color: transparent;
  border: none;
}

.firstColumn {
  position: sticky;
  inset-inline-start: 0;
  background-color: var(--surface-3);
  grid-column: 1 / 2;
  min-inline-size: 4ch;
  line-height: 1;
}
