.Panel {
  block-size: fit-content;
  display: flex;
  gap: 1px;
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-50);
  border-radius: 0.375rem;
  padding: 0.125rem;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: var(--size-relative-12);
  block-size: 2rem;
  padding-inline: var(--size-2);
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  background-color: transparent;
  color: var(--color-gray-600);
  user-select: none;
  box-shadow: none;

  &:focus-visible {
    background-color: transparent;
    outline: 2px solid var(--accent);
    outline-offset: -1px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-200);
  }

  &[data-pressed] {
    background-color: var(--accent);
    color: var(--color-gray-950);
  }
}
