.popover {
  display: inline-block;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;

  text-decoration-style: dashed;
  text-decoration-color: currentcolor;
  cursor: pointer;

  transition: color var(--sneeze);

  &:hover {
    color: oklch(from var(--text) calc(l * 0.7) c h);
    background-color: transparent;
  }
}

.popoverContainer {
  display: flex;
  flex-direction: column;
  max-block-size: 20rem;
  overflow: auto;
}
