.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;

  user-select: none;
  outline: 0;

  border-radius: 0.375rem;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-gray-100);
    }
  }

  &:active {
    background-color: var(--color-gray-100);
  }

  &[data-popup-open] {
    background-color: var(--color-gray-100);
  }

  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: -1px;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-1);
  padding-block: var(--size-3);
  padding-inline: var(--size-5);
  color: var(--color-gray-900);
  background-color: canvas;

  border-radius: var(--size-2);
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms,
    opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-gray-200);
    box-shadow:
      0 10px 15px -3px var(--color-gray-200),
      0 4px 6px -4px var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
    outline-offset: -1px;
  }
}

.arrow {
  display: flex;

  &[data-side='top'] {
    inset-block-end: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    inset-block-start: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    inset-inline-end: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    inset-inline-start: -13px;
    rotate: -90deg;
  }
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.description {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray-600);
}
