.body {
  display: flex;
  flex-direction: row;
  block-size: 100dvh;
  isolation: isolate;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  align-items: center;
  
  background-color: var(--surface-2);
  
  box-shadow: var(--shadow-4);
  isolation: isolate;
  
  @media (width > 40rem) {
    padding-block-start: var(--size-3);
    overflow-y: auto;
  }

  @media (width <= 40rem) {
    position: absolute;
    inset: 0 0 auto auto;
    z-index: var(--layer-3);
    background-color: transparent;
    box-shadow: none;
  }

  & > * {
    inline-size: 100%;
  }
}

.main {
  flex: 1;
  overflow: auto;
}

.themeToggle {
  padding: var(--size-fluid-0);
  margin-block-start: auto;
  background: transparent;
  border: 1px solid var(--gray-5);

  @media (width <= 40rem) {
    display: none;
  }
}
