.article {
  display: grid;
  gap: var(--size-3);
  padding: var(--size-fluid-3);
}

.article h1 {
  position: relative;
  padding-block-end: var(--size-3);

  &::after {
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
    inline-size: min(100%, var(--size-14));
    block-size: var(--border-size-2);
    content: '';
    background: linear-gradient(to right, var(--patagonia-color-4), transparent);
  }
}

@media (width <= 40rem) {
  .article {
    padding: var(--size-fluid-2);
  }
}
