.header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-evenly;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: var(--layer-1);
  inline-size: 100%;
  block-size: 100%;
  background-color: hsl(0deg 0% 0% / 50%);
}

.container {
  position: relative;
}
