.card {
  --inline-padding: var(--size-fluid-2);
  --surface: var(--surface-3);
  --text: var(--text-1);
  --gap: var(--size-fluid-2);

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  max-inline-size: min(var(--size-content-2), 100vw);
  max-block-size: 100dvh;
  aspect-ratio: 2.5 / 3.5;

  background-color: var(--surface);
  color: var(--text);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);

  overflow: auto;
}

.header {
  --surface: var(--surface-1);
  --text: var(--text-1);

  position: sticky;
  inset: 0;
  background-color: var(--surface);
  color: var(--text);
  padding-block: var(--size-fluid-3);
  padding-inline: var(--inline-padding);

  box-shadow: var(--shadow-2);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  padding-inline: var(--inline-padding);
  padding-block-end: var(--size-fluid-2);
}

.details {
  --direction: column;

  display: flex;
  flex-flow: var(--direction) wrap;
  justify-content: space-between;
  column-gap: var(--gap);
}

.placeAndTime {
  --direction: row;

  display: flex;
  flex-flow: var(--direction) wrap;
  justify-content: space-evenly;
  column-gap: var(--gap);
  row-gap: calc(var(--gap) / 2);
}
