.card {
  --gap: var(--size-fluid-2);

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  max-inline-size: min(var(--size-content-2), 100vw);
  max-block-size: 100dvh;
  aspect-ratio: 2.5 / 3.5;

  overflow: auto;
  color: var(--text-1);

  background-color: var(--surface-3);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
}

.header {
  position: sticky;
  inset: 0;
  font-size: clamp(1rem, 1rem + 3vw, 2.5rem);
  font-weight: 600;
  padding-block: var(--size-fluid-3);
  padding-inline: var(--size-fluid-2);
  color: var(--text-1);
  background-color: var(--surface-1);

  box-shadow: var(--shadow-2);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--gap);
  padding-block-end: var(--size-fluid-2);

  padding-inline: var(--size-fluid-2);
}

.details {
  display: flex;
  flex-flow: column wrap;
  column-gap: var(--gap);
  justify-content: space-between;
}

.placeAndTime {
  display: flex;
  flex-flow: row wrap;
  row-gap: calc(var(--gap) / 2);
  column-gap: var(--gap);
  justify-content: space-evenly;
}
