.Field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
}

.ScrubArea {
  font-weight: bold;
  cursor: ew-resize;
  user-select: none;
}

.ScrubAreaCursor {
  filter: drop-shadow(0 1px 1px hsl(0deg 0% 0% / 53.3%));
}

.Label {
  cursor: ew-resize;
}

.Group {
  display: flex;
}

.Input {
  box-sizing: border-box;
  inline-size: 6rem;
  block-size: 2.5rem;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  font-variant-numeric: tabular-nums;
  color: light-dark(var(--gray-9), var(--gray-1));

  text-align: center;
  background-color: transparent;
  border-block: 1px solid light-dark(var(--gray-2), var(--gray-8));
  border-inline: none;

  &:focus {
    z-index: 1;
    outline: 2px solid var(--accent);
    outline-offset: -1px;
  }
}

.Decrement,
.Increment {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 2.5rem;
  block-size: 2.5rem;
  padding: 0;
  margin: 0;
  background-clip: padding-box;

  & .Decrement {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }

  & .Increment {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}
