.Button {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: var(--font-size-fluid-2);
  line-height: 1.5;
  user-select: none;
  text-shadow: none;

  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: -1px;
  }

  @media (hover: hover) {
    &:hover:not([data-close='true']) {
      background: var(--gradient-1);
      color: transparent;
      background-clip: text;
    }
  }

  &:active:not([data-close='true']) {
    background: var(--gradient-1);
    color: transparent;
    background-clip: text;
  }
}

.Backdrop {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0.2;
  transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);

  @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.Popup {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-inline-size: var(--size-content-2);
  max-inline-size: calc(100vw - var(--size-fluid-3));
  padding: var(--size-fluid-3);
  border-radius: var(--radius-3);
  outline: 1px solid light-dark(var(--color-gray-200), var(--color-gray-300));
  background-color: var(--surface-1);
  transition: all 150ms;

  & > * + * {
    margin-block-start: var(--size-fluid-3);
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.Title {
  line-height: 1.5;
  text-align: center;
}

.Actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-fluid-1);
}
