.backdrop {
  position: fixed;
  inset: 0;
  background-color: black;
  opacity: 0.2;
  isolation: isolate;
  z-index: var(--layer-2);

  @media (prefers-reduced-motion: no-preference) {
    transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);
  }

  @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.popup {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  z-index: var(--layer-3);

  @media (prefers-reduced-motion: no-preference) {
    transition: all 150ms;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.button {
  position: fixed;
  inset-block-start: var(--size-3);
  inset-inline-end: var(--size-3);
  inline-size: 1.5em;

  max-inline-size: 2rem;
  max-block-size: 2rem;

  aspect-ratio: 1;
  padding: var(--size-fluid-0);
  margin: 0;

  font-size: larger;
  color: var(--text-1);

  background-color: color-mix(in hsl, var(--surface-3) 50%, transparent);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
}

.title {
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
