.container {
  max-height: calc(100% - var(--size-11));
  inline-size: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  flex: 1;
}

.form {
  /* Uses intrinsic container */
  --container-max: 45ch;
  --margin: 0rem;
  gap: 0.5em;

  overflow: scroll;

  padding-inline: var(--size-10);
  padding-block: var(--size-3);
  background-color: var(--surface-1);

  & > label > input {
    margin-block-start: 0.5em;
    padding: var(--size-1);
  }
}

.title {
  max-width: 100%;
  text-align: center;
}

.grades {
  --gap: 1rem;

  display: grid;
  grid-template-columns: repeat(
      auto-fill,
      minmax(15ch, calc(50% - (var(--gap) / 2)))
    );
  align-items: center;
  grid-gap: var(--gap);

  & > span {
    width: 100%;
  }
}
