.switch {
  background: linear-gradient(
    to right,
    light-dark(var(--blue-7), var(--blue-9)) 35%,
    light-dark(var(--yellow-3), var(--yellow-5)) 65%
  );

  background-position-x: 100%;
  background-size: 6.5rem 100%;
}

.label {
  display: flex;
  gap: var(--size-2);
  align-items: center;
  justify-content: center;
}
