.SignInButton {
  display: flex;
  justify-content: center;
  inline-size: 100%;

  & > button {
    inline-size: 100%;
    max-inline-size: 20ch;
    padding-block: var(--size-1);
    padding-inline: var(--size-fluid-2);
    font-weight: var(--font-weight-7);
    color: var(--text-1);
    text-shadow: none;
    background-color: var(--surface-2);
    border: none;
    border-radius: 0.375rem;
    box-shadow: none;
  }
}
