.container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  aspect-ratio: 1;
  margin-inline: auto;
  overflow: hidden;

  /* Prevents the chart from being rendered when off-screen */
  content-visibility: auto;

  & > div {
    flex: 1;
  }
}
